@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/ClothingScripts.js"></script>
<h2>Index</h2>

<table>
    <thead><tr>
               <th>Name</th><th>Size</th>
           </tr></thead>

    <h2>Clothing list</h2>
    <tbody data-bind="foreach: clothings">
        <tr>
            <td><input data-bind="value: Name" /></td>
            <td><input data-bind="value: Size" /></td>
            <td><button data-bind="click: $root.removeClothing">X</button></td>
@*            <td><button data-bind="click: $root.updateClothing, enable: validObject()">Update</button></td>*@
        </tr>
    </tbody>
</table>
<button data-bind="click: addClothing, enable: clothings().length < 50">Add another clothing article</button>
<button data-bind="click: updateAll, enable: validObjects()">Update all</button>
<h3> Number of items:   <span data-bind="text: clothings().length"/> </h3> 



